@font-face {
  font-family: "iconfont"; /* Project id 3691497 */
  src: url('iconfont.woff2?t=1665976152168') format('woff2'),
       url('iconfont.woff?t=1665976152168') format('woff'),
       url('iconfont.ttf?t=1665976152168') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e6af";
}

.icon-youjiantou1:before {
  content: "\e602";
}

.icon-youjiantou:before {
  content: "\e603";
}

.icon-icon--:before {
  content: "\e732";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-fuhao-yingwen:before {
  content: "\e712";
}

.icon-xinfeng:before {
  content: "\e610";
}

.icon-shanglajiantou:before {
  content: "\e626";
}

